* {
  padding: 0;
  margin: 0;
  background-color: rgb(121, 225, 117);
  box-sizing: inherit;
}

body {
  font-family: arial;
  font-style: italic;
  color: #333;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  display: flex;
  align-items: flex-start;
  line-height: 1.5;
  height: 100hv;
  position: relative;
  justify-content: center;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 5rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.close-modal {
  background-color: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
