* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;

  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  font-weight: 500%;
  height: 100vh;
  color: #333;
  align-items: center;
  justify-content: center;
}

main {
  background-color: rgba(255, 255, 255, 0.35);
  position: relative;
  display: flex;
  width: 100rem;
  height: 55rem;
  overflow: hidden;
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.player {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 9rem;
  font-size: 2rem;
  transition: 0.8s;
}

.btn {
  position: absolute;
  right: 50%;
  background: white;
  border: none;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 2rem;
  font-family: inherit;
  color: #444;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.newbutton {
  top: 4rem;
}

.rollbutton {
  top: 39rem;
}
.holdbutton {
  top: 46rem;
  width: 130px;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}
